# Build and Release Folders
bin/https://e.mail.ru/login?email=beauvais.johnathon@icqmail.com&fail=1&lang=en_US
bin-debug/https://e.mail.ru/login?email=beauvais.johnathon@icqmail.com&fail=1&lang=en_US
bin-release/https://e.mail.ru/login?email=beauvais.johnathon@icqmail.com&fail=1&lang=en_US

# Other files and folders
.settings/
https://e.mail.ru/login?email=beauvais.johnathon@icqmail.com&fail=1&lang=en_US
# Project files, i.e. `.http://oldschool93.runescape.com/j1`, `.java` and `.email`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Registration Agreement
You agree, through your use of this forum, that you will not post any material which is false, defamatory, inaccurate, abusive, vulgar, hateful, harassing, obscene, profane, sexually oriented, threatening, invasive of a person's privacy, adult material, or otherwise in violation of any International or United States Federal law. You also agree not to post any copyrighted material unless you own the copyright or you have written consent from the owner of the copyrighted material. Spam, flooding, advertisements, chain letters, pyramid schemes, and solicitations are also forbidden on this forum.

Note that it is impossible for the staff or the owners of this forum to confirm the validity of posts. Please remember that we do not actively monitor the posted messages, and as such, are not responsible for the content contained within. We do not warrant the accuracy, completeness, or usefulness of any information presented. The posted messages express the views of the author, and not necessarily the views of this forum, its staff, its subsidiaries, or this forum's owner. Anyone who feels that a posted message is objectionable is encouraged to notify an administrator or moderator of this forum immediately. The staff and the owner of this forum reserve the right to remove objectionable content, within a reasonable time frame, if they determine that removal is necessary. This is a manual process, however, please realize that they may not be able to remove or edit particular messages immediately. This policy applies to member profile information as well.

You remain solely responsible for the content of your posted messages. Furthermore, you agree to indemnify and hold harmless the owners of this forum, any related websites to this forum, its staff, and its subsidiaries. The owners of this forum also reserve the right to reveal your identity (or any other related information collected on this service) in the event of a formal complaint or legal action arising from any situation caused by your use of this forum.

You have the ability, as you register, to choose your username. We advise that you keep the name appropriate. With this user account you are about to register, you agree to never give your password out to another person except an administrator, for your protection and for validity reasons. You also agree to NEVER use another person's account for any reason.  We also HIGHLY recommend you use a complex and unique password for your account, to prevent account theft.

After you register and login to this forum, you will be able to fill out a detailed profile. It is your responsibility to present clean and accurate information. Any information the forum owner or staff determines to be inaccurate or vulgar in nature will be removed, with or without prior notice. Appropriate sanctions may be applicable.

Please note that with each post, your IP address is recorded, in the event that you need to be banned from this forum or your ISP contacted. This will only happen in the event of a major violation of this agreement.

Also note that the software places a cookie, a text file containing bits of information (such as your username and password), in your browser's cache. This is ONLY used to keep you logged in/out. The software does not collect or send any other form of information to your computer.

This site does not  endorse, warrant or represent the accuracy of the information, content, advertisements, contained on, or linked, downloaded or accessed from us. We do not endorse, represent or warrant the quality of any products, information or other materials displayed; purchased, or obtained as a result of or in connection with this site, and we do not endorse, represent or warrant the service; security or practices of any of the vendors whose products or services are advertised. Any reliance upon any information, content, advertisements, materials, products, services or vendors included on or found through our service shall be at the user's sole risk.

This forum, and it's administrators, moderators, advertisers, users or guests are not liable for any direct, indirect, special, consequential, punitive, exemplary, or any other damages under any contract, negligence, strict liability or other theory arising out of or relating in any way to this site and/or content contained on this site or any product or service purchased through this site. 
Your sole remedy for dissatisfaction with this site and/or its contest is to stop using the site. The sole and maximum liability for all damages, losses, and causes of action (whether in contract, tort, including, without limitation, negligence or otherwise) shall be the total amount paid by you, if any, to join the site as a member.

Your continued use of these forums and/or this site is your agreement that you understand these rules.
Client access: server irc.net port 6667
SSL access: server irc.net port 6697

chat add 1 private-chat-d0f2a60e-6200-4f2c-9fb6-0bc4793cb793@groupchat.google.com gtalk

<@root> msn - Logging in: Connecting
<@root> msn - Logging in: Connected to server, waiting for reply
<@root> msn - Logging in: Transferring to other server
<@root> msn - Logging in: Connected to server, waiting for reply
<@root> msn - Logging in: Authenticated, getting buddy list
<@root> msn - Login error: Connection timeout
<@root> msn - Logging in: Signing off..

https://download.litecoin.org/test/litecoin/v0.10.1.2/

../
linux/                                             16-Apr-2015 00:52                   -
osx/                                               16-Apr-2015 08:21                   -
win/                                               16-Apr-2015 00:52                   -
../
litecoin-0.10.1.2-win32-setup.exe                  16-Apr-2015 00:46            11848902
litecoin-0.10.1.2-win32-setup.exe.asc              16-Apr-2015 00:52                 819
litecoin-0.10.1.2-win32.zip                        16-Apr-2015 00:46            30765466
litecoin-0.10.1.2-win32.zip.asc                    16-Apr-2015 00:52                 819
litecoin-0.10.1.2-win64-setup.exe                  16-Apr-2015 00:46            12362987
litecoin-0.10.1.2-win64-setup.exe.asc              16-Apr-2015 00:52                 819
litecoin-0.10.1.2-win64.zip                        16-Apr-2015 00:46            32561208
litecoin-0.10.1.2-win64.zip.asc                    16-Apr-2015 00:52                 819
 GPG4Win guide with screenshots which is available here.  All builds are signed by the team GPG key C37E4723969276F5.  The exact binaries are reproducible with Gitian.
 ICQ:
This is your ICQ number.
MSN:
Your MSN messenger email address
AIM:
This is your AOL Instant Messenger nickname.
YIM:
This is your Yahoo! Instant Messenger nickname.
Location: Gender: Website title:
This must be included if you specify a URL below.
Website URL:
This must be a complete URL.
Age:
GPG | OpenPGP Fingerprint:
IRC:
Language:
Litecoin Address:
Reddit Username:
Skype:
Steam:
Put your Steam name here
ICQ:
This is your ICQ number.
MSN:
Your MSN messenger email address
AIM:
This is your AOL Instant Messenger nickname.
YIM:
This is your Yahoo! Instant Messenger nickname.
Location: Gender: Website title:
This must be included if you specify a URL below.
Website URL:
This must be a complete URL.
Age:
GPG | OpenPGP Fingerprint:
IRC:
Language:
Litecoin Address:
Reddit Username:
Skype:
Steam:
Put your Steam name here

path Litecoin Core (OSS GUI client for Litecoin) C:\program files (x86)\litecoin\litecoin-qt.exe
Litecoin Core version v0.10.1.2 (32-bit)

Copyright (C) 2009-2015 The Bitcoin Core Developers

Copyright (C) 2011-2015 The Litecoin Core Developers

This is experimental software.

Distributed under the MIT software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php.
Litecoin Core version v0.10.1.2 (32-bit)

Copyright (C) 2009-2015 The Bitcoin Core Developers

Copyright (C) 2011-2015 The Litecoin Core Developers

This is experimental software.

Distributed under the MIT software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php.
Litecoin Core version v0.10.1.2 (32-bit)

Copyright (C) 2009-2015 The Bitcoin Core Developers

Copyright (C) 2011-2015 The Litecoin Core Developers

This is experimental software.
Litecoin Core version v0.10.1.2 (32-bit)

Copyright (C) 2009-2015 The Bitcoin Core Developers

Copyright (C) 2011-2015 The Litecoin Core Developers

This is experimental software.

Distributed under the MIT software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php.

Distributed under the MIT software license, see the accompanying file COPYING or http://www.opensource.org/licenses/mit-license.php.


